body, html {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 150px;
  margin-bottom: 75px;
  font-family: 'Pacifico', cursive;
  color: #E7E7E7;
  text-shadow: 2px 2px 6px #000000
}

h3 {
  color: #E7E7E7;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#main_photo {
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;

}

#second_section {
  width: 100%;
  background: #E7E7E7;
  margin-top: 0;
  padding-top: 0;
  background-image: url(https://images.unsplash.com/photo-1492176861288-6b481cfad893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-attachment: fixed;
}

#third_section {
  width: 100%;
  background: white;
  margin-top: 0;

}

#black_section {
  width: 100%;
  height: 250px;
  background: #3C3C3C;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  bottom: 150px;
  color: white;
  padding: 25px;
}

#second_h1 {
  color: #3C3C3C;
  font-family: 'Pacifico', cursive;
  margin: 25px;
  padding: 25px;
  margin-top: 0;
}

#third_h1 {
  color: #3C3C3C;
  font-family: 'Pacifico', cursive;
  position: relative;
  top: -255px;
}

#third_h3 {
  color: black;
  padding: 5px;
  position: relative;
  top: -250px;
}

#border_bottom {
    border-bottom: 6px solid #3C3C3C;
    text-align: center;
    width: 20%;
    position: relative;
    top: -285px;
    left: 532px;
}

#lower_photo {
  width: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  height: 560px;
  background-image: url(https://images.unsplash.com/photo-1432105265591-e769ab4f8d13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#button {
  position: relative;
  top: -175px;
  width: 40%;
  background: #3C3C3C;
  border: none;
  padding: 25px;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: -75px;
}

#button:hover {
  background-color: #212121;

}

nav ul li {
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  padding: 5px 25px 5px 25px;
  margin-top: auto 0;
  margin-top: 25px;
  background: transparent !important;
  float: right;

}

#foot {
  width: 100%;
  height: 100px;
  background: #3C3C3C;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-align: center;
}

#foot ul li {
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  padding: 5px 25px 5px 25px;
  margin-top: auto 0;
  margin-top: 25px;
}

#foot i {
  color: white;
  display: inline-block;
}
